* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh
}

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sprit {
    margin-bottom: 100px;
}

.sprit img {
    max-width: 100%;
    height: auto;
}

.caixa {
    width: 100%;
    max-width: 1500px;
    height: auto;
    padding: 20px;
    font-size: 20px;
    line-height: 25px;
    border: 2px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botoes {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.botao {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

#botao-lutar {
    display: none;
}

@media (max-width: 600px) {
    .caixa {
        width: 90%;
        font-size: 18px;
    }

    .botoes {
        gap: 10px;
    }
}